@import "utils";

.user-detail {
  margin: 0 auto;
  width: 1400px;

  padding-top: 20px;
  padding-left: 10%;
  min-height: 60px;

  @include media("<medium") {
    display: block;
  }

  .user-profile {
    display: flex;
    margin-bottom: 5px;

    @include media("<medium") {
      display: block;
    }

    .avatar img {
      border-radius: 0.5rem;
      width: 230px;
      height: 230px;
    }

    .profile-info {
      padding-left: 2%;
      flex-direction: column;
      min-height: 60px;

      @include media("<medium") {
        padding-left: 0;
      }

      .title {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-bottom: 5px;

        @include media("<medium") {
          padding-top: 20px;
        }

        .user-id {
          margin-left: 10px;
          color: $oc-indigo-7;
        }
      }

      .bio {
        min-height: 40px;
        p {
          font-size: 15px;
        }
      }

      .stats {
        padding-top: 1px;
        // margin-top: auto !important;
        .stats-itemList {
          display: flex;
          list-style: none;
          padding-left: 2%;
          margin: auto;

          @include media("<medium") {
            padding-left: 0;
          }
          .stats-item {
            margin-right: 15px;

            .stats-label {
              font-size: 15px;
            }

            .stats-value {
              font-size: 25px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  h3,
  p {
    margin: 0;
  }
}
