@import "utils";

.footer {
  background: $oc-gray-1;
  position: fixed;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  p {
    text-align: center;
    margin: 0;
  }
  a {
    color: $oc-indigo-7;
    font-size: 20px;
    font-weight: 600;
  }
}
